{% extends "common/base_page.html" %}

{% block head %}
    {{ super() }}
  <style>
      .header {
        text-align: center;
      }
      .header h1 {
        font-size: 200%;
        color: #333;
        margin-top: 30px;
      }
      .header p {
        font-size: 14px;
      }
  </style>
{% endblock %}

{% block content %}
<div class="header">
    <div class="am-g">
        <h1>智能家居系统</h1>
        <p>语言：python 框架：flask 硬件：树莓派、一路继电器、面包版、杜邦线、水泵（12v）等</p>
        <p>功能：浇花、监控等</p>
    </div>
    <hr />
</div>
<div class="am-g">
  <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
      <form method="post" class="am-form">
          <label for="username">用户名:</label>
          <input type="text" name="username" id="username" value="">
          <br>
          <label for="password">密码:</label>
          <input type="password" name="password" id="password" value="">
          <br>
          <div class="am-cf">
          <input type="submit" name="" value="登 录" class="am-btn am-btn-primary am-btn-sm am-fl">
          </div>
      </form>
  </div>
</div>
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}